@import "config/reset.scss";
@import "config/_variable";
@import "body";

* {
    box-sizing: border-box;
}

button:focus {
    outline: none;
}

html {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    .loginBox,
    .gameContainer {
        display: none;
    }
    &.loggedOut {
        .loginBox {
            display: block;
        }
    }
    &.loggedIn {
        .gameContainer {
            width: 100%;
            display: flex;
            justify-content: space-around;
        }
    }
}

@keyframes showAni {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

.loginBox {
    padding: 2vh;
    border-radius: 8px;
    background-color: $blueGrey100;
    box-shadow: $boxShadow2;
    input {
        height: 4vh;
        border: none;
    }
    animation: showAni 1s ease;
}

@keyframes notiAni {
    0% {
        opacity: 0;
        transform: scale(0.1) translateY(40px);
    }
    30% {
        opacity: 1;
        transform: scale(1) translateY(0px);
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

.notifications {
    position: fixed;
    left: 2%;
    bottom: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    div {
        width: 170px;
        padding: 10px 20px;
        margin-bottom: 10px;
        border-radius: 10px;
        align-self: center;
        color: white;
        box-shadow: $boxShadow2;
        animation: notiAni 2s ease-in-out forwards;
    }
}

@keyframes msgShow {
    from {
        transform: translateX(-100px);
    }
    to {
        transform: translateX(0px);
    }
}

.chat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .chat__messages {
        background-color: white;
        height: 50vh;
        width: 25vw;
        box-shadow: $boxShadow2;
        border-radius: 5px;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        li {
            animation: msgShow 0.5s ease-in-out forwards;
            .author {
                font-weight: 600;
            }
            .self {
                color: $lightGreen;
            }
            .other {
                color: black;
            }
        }
    }
    .chat__form {
        z-index: 10;
        input {
            background-color: $blueGrey50;
            border: none;
            width: 30vw;
            border-radius: 15px;
            padding: 10px 20px;
            box-shadow: $boxShadow3;
            transition: transform 0.3s ease-in-out;
            &:focus {
                outline: none;
                transform: scale(1.1);
            }
        }
    }
}

.canvasContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    canvas {
        width: 300px;
        height: 300px;
        background-color: white;
        margin: 10px 0px;
    }

    .controls {
        margin-top: 10px;
        .controlBtn {
            margin-left: 5px;
        }
    }

    .colors {
        margin: 10px 0px;
        .colorBtn {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin-left: 5px;
            border: none;
            box-shadow: $boxShadow3;
            &:active {
                box-shadow: $boxShadow2;
            }
        }
    }
}
