<!DOCTYPE html>
html(lang="kr")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Guess Mind
        link(rel="stylesheet", href="/static/style.css")
        script(defer).
             window.events=!{events};
        script(defer src="/socket.io/socket.io.js")

    body
        .loginBox
            form#jsLogin
                input(placeholder="Type your nickname", type="text", name="nickname")
        .gameContainer#jsGame
            .canvasContainer
                .answer#jsAnswer
                span#jsTimer 0
                canvas#jsCanvas
                .controlContainer#jsControlContainer
                    label Brush Size
                    input(type="range",min="0.1", max="5.0",value="2.5," step="0.1")#jsBrushSize
                    .controls
                        button.controlBtn(data-key="control", data-value="fill") FILL
                        button.controlBtn(data-key="control", data-value="clear") CLEAR
                    .colors
                        button.colorBtn(data-key="color", data-value="black", style="background-color:black")
                        button.colorBtn(data-key="color", data-value="white", style="background-color:white")
                        button.colorBtn(data-key="color", data-value="red", style="background-color:red")
                        button.colorBtn(data-key="color", data-value="blue", style="background-color:blue")
                        button.colorBtn(data-key="color", data-value="yellow", style="background-color:yellow")
                        button.colorBtn(data-key="color", data-value="green", style="background-color:green")
            .chat
                ul.playerBoard#jsPlayerBoard
                ul.chat__messages#jsMessages
                form.chat__form#jsSendMessage
                    input(placeholder="write a message", type="text")
            .notifications#jsNotification

        script(defer src="/static/main.js")

