<!DOCTYPE html>
html(lang="kr")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Guess Mind
        script(defer src="/socket.io/socket.io.js")
        script(defer src="/static/index.js")
    body
        h1 Hello world!